@import "compass/reset";
@import "compass/css3";

.intro_img
	{
		position: absolute;
		width: 165px;
		top: 21em;
		right: 1.4em;
	}






.middle
	{
		width: 921px;
		margin-top: -26px;

	}

.left_middle
	{
		width: 230px;
	}

.l_first_box
	{
		width: 100%;
		margin-bottom: 20px;
	}
.l_f_b_list
	{
		width: 100%;

	}

.l_f_b_l_box
	{
		color: #046ab8;
		font-size: 14px;
		height: 15px;
		font-weight: 900;
		margin-bottom: 16px;
		font-family: "Microsoft Jhenghei","微軟正黑體";
	}

.dot
	{
		width: 19px;
	}
.list_text:visited {color:#046ab8}
.list_text:link {color:#046ab8}
.list_text:active {color:#eb6100}
.list_text:hover {color:#eb6100}


.l_f_b_list
	{
		width: 100%;
		background: #b0dbe5;
		padding-top: 19px;
		padding-bottom: 3px;
		padding-left: 18px;
	}

.l_second_box
	{
		width: 100%;
		margin-bottom: 45px;
	}
.list_art
	{
		margin-bottom: 38px;
	}
.list_img
	{
		width: 184px;
		padding: 2px;
		margin-left: 4px;
		margin-bottom: 11px;
		background-color: #ffffff;
	}












.right_middle
	{
		width: 644px;
		margin-left: 47px;
	}