@import "compass/reset";
@import "compass/css3";


.right_middle
	{
		margin-left: 49px;
		width: 621px;
	}
.address
	{
		width: 100%;
		color: #070707;
		font-size: 13px;
		font-weight: 900;
		padding-top: 16px;
		padding-left: 85px;
		line-height: 20px;
		padding-bottom: 12px;
	}
.c_box
	{
		width: 424px;
		
		margin-top: 21px;
		margin-left: 86px;
		color: #4d4d4d;
		font-size: 13px;
		
	}
.c_box_l
	{
		width: 100%;
		height: 26px;
		margin-bottom: 28px;
	}
.c_box_l_a
	{
		width: 100%;
		height: 164px;
		margin-bottom: 18px;
	}
.c_t
	{
		/*margin-right: 17px;*/
		padding-top: 7px;
	}
.c_t_a
	{
		padding-top: 60px;
	}
.input_a
	{
		width: 360px;
		height: 25px;
		border: 1px solid #cccccc;
		padding-left: 3px;
		float: right;
	}
.input_b
	{
		width: 382px;
		height: 25px;
		border: 1px solid #cccccc;
		padding-left: 3px;
		float: right;
	}
.textarea
	{
		width: 382px;
		height: 164px;
		border: 1px solid #cccccc;
		padding: 3px;
		float: right;
	}
.button
	{
		background: none;
		border: none;
		width: 44px;
		padding: 0px;
	}
.left
	{
		margin-left: 193px;
	}




