@import "compass/reset";
@import "compass/css3";


.right_middle
	{
		margin-left: 0px;
		width: 690px;
	}
.r_m_box
	{
		margin-top: 19px;
		width: 100%;
		max-height: 1359px;
	}
.r_m_box_a
	{
		margin-top: -16px;
		width: 100%;
		max-height: 1359px;
	}
.sightseeing_box
	{
		width: 291px;
		height: 104px;
		margin-bottom: 29px;
		margin-left: 43px; 
	}

.sightseeing_img
	{
		width: 136px;
		height: 100%;
		border: 1px solid #5e5e5e;
		background-color: #000000;
		padding: 2px;
		@include single-box-shadow(rgba(0,0,0,0.4), 2px, 2px, 2px, false, false);
		img 
		{
			height: 100%;
		}
	}
.sightseeing_text
	{
		color: #878787;
		width: 145px;
		font-size: 13px;
		line-height: 17px;
		padding-top: 20px;
		padding-left: 14px;
	}

.s_t_a:visited {color:#878787}
.s_t_a:link {color:#878787}
.s_t_a:active {color:#878787}
.s_t_a:hover {color:#878787}













