@import "compass/reset";
@import "compass/css3";

.r_m_box
	{
		width: 628px;

	}
.r_m_title
	{
		width: 100%;
		height: 20px;
		margin-top: 8px;
		font-size: 13px;
	}
.r_m_img
	{
		width: 21px;
		margin-top: 1px;
	}
.title_text
	{
		padding-top: 1px;
		width: 445px;
		color: #0168b7;
		letter-spacing: 0.6px;
		font-weight: 900;
		font-size: 18px;

	}
.title_l_arrow
	{
		width: 32px;
	}
.title_l_arrow:visited {color:#7a7a7a}
.title_l_arrow:link {color:#7a7a7a}
.title_l_arrow:active {color:#f7ba55}
.title_l_arrow:hover {color:#f7ba55}

.t_ex_box
	{
		padding-top: 4px;
		padding-right: 10px;
		border-right: 1px solid #6e6e6e;
	}
.t_nx_box
	{
		padding-top: 4px;
		padding-left: 6px;
		border-left: 1px solid #979797;
	}
.video
	{
		width: 469px;
		height: 281px;
		margin-top: 71px;
		margin-left: 67px;
	}

.video_text
	{
		margin-top: 37px;
		width: 100%;
		line-height: 20px;
		font-size: 12px;
	}




	/*3_1 css*/
.video_a
	{
		width: 578px;
		margin-top: 59px;
		margin-left: 20px;
	}
.video_text_a
	{
		margin-top: 37px;
		width: 100%;
		line-height: 20px;
		font-size: 11px;
		color: #434343;
		letter-spacing: 1px;
	}
.pink
	{
		font-weight: 900;
		color: #ea3272;
		font-size: 13px;
		letter-spacing: 1.5px;
	}
.font
	{
		color: #000000;
		font-weight: 900;
		font-size: 12px;
	}
.blue
	{
		color: #0000ff;
	}













