/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/transportation.scss */
.trans {
  margin-top: 34px;
  margin-left: 66px;
  width: 487px;
  margin-bottom: 22px;
}

/* line 14, ../sass/transportation.scss */
.trans_text {
  color: #434343;
  font-size: 12px;
  line-height: 20px;
}

/* line 20, ../sass/transportation.scss */
.orange {
  color: #eb6100;
  font-size: 13px;
}

/* line 25, ../sass/transportation.scss */
.parking:visited {
  color: #0068b7;
}

/* line 26, ../sass/transportation.scss */
.parking:link {
  color: #0068b7;
}

/* line 27, ../sass/transportation.scss */
.parking:active {
  color: #0068b7;
}

/* line 28, ../sass/transportation.scss */
.parking:hover {
  color: #0068b7;
}

/* line 33, ../sass/transportation.scss */
.trans_text_a {
  color: #e60012;
  font-size: 12px;
  line-height: 25px;
}

/* line 39, ../sass/transportation.scss */
.t_t_w {
  font-weight: 900;
  font-size: 13px;
}

/* line 44, ../sass/transportation.scss */
.map_d:visited {
  color: #0000ff;
  text-decoration: underline;
}

/* line 45, ../sass/transportation.scss */
.map_d:link {
  color: #0000ff;
  text-decoration: underline;
}

/* line 46, ../sass/transportation.scss */
.map_d:active {
  color: #0000ff;
  text-decoration: underline;
}

/* line 47, ../sass/transportation.scss */
.map_d:hover {
  color: #0000ff;
  text-decoration: underline;
}
